primary = #FF8A00
secondary = #FFFAE6
success = #1BD97B
gray = #EEEEEE
semi-primary = #FFE1BE
semi-success = #D0FFE8

:root
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif 

body
	margin: 0
	display: flex
	place-items: center
	justify-content: center
	min-height: 100vh
	background-color: secondary


.box
	background-color: white
	min-height:80vh
	width: 80vw
	border-radius: 4px
	padding: 20px 40px 20px 40px

.icon
	width: 24px
	&_mini
		width: 16px
		&_absolute
			position: absolute
			right: 30px

.flex
	position relative
	display: flex
	flex-wrap: wrap
	&_column
		flex-direction: column;
		&_justify_between
			justify-content: space-between
	&_items_center
		align-items: center
	&_justify_between
		justify-content: space-between
	&_justify_center
		justify-content: center
	&_justify_end
		justify-content: end

.section_left {
	width: 65%
}

.section_right
	border-left: 1px solid primary
	padding-left: 40px
	min-height:70vh
	width: 30%

.text_primary
	color primary

.text_success
	color success

.underline
	height: 7px
	width: 250px
	background-color: gray
  z-index: -1
	position: absolute

.underline_mini
	height: 3px
	width: 100px
	background-color: gray
	margin: 20px 0 20px 0 

h1 
	width: fit-content
	margin: 0

.w_100
	width: 100%

.h_100
	width: 100%

.input_container
	padding: 20px
	margin: 10px 10px 10px 0px
	width:400px
	font-size: 16px
	&:focus
		outline: none
	&_success
		border: 1px solid success
	&_primary
		border: 1px solid primary

.button_payment
	padding: 20px
	border-radius: 4px
	background-color: primary
	color: white
	border: none
	cursor: pointer
	width: 100%
	margin-top: 10px
	font-size: 24px

.margin
	&_top_10
		margin-top: 10px
	&_top_30
		margin-top: 30px
	&_bottom_10
		margin-bottom: 10px
	&_bottom_30
		margin-bottom: 30px
	&_left_10
		margin-left: 10px
	&_right_10
		margin-right: 10px

.button_icon 
	background-color: transparent
	border: none
	cursor: pointer
	margin-top: 5px

.header_navigation
	position: absolute
	background-color: secondary
	padding: 20px
	border-radius: 20px
	margin-top: -35px
	span
		margin-bottom: 5px

.circle_navigation
	width: 30px
	height: 30px
	background-color: semi-primary
	border-radius: 50%
	color: primary
	display flex
	align-items: center
	justify-content: center
	&_active
		background-color primary
		color white
	span
		margin-bottom: 2px

.display_none
	display: none

.visibility_hidden
	visibility: hidden

.shipment,
.payment
	margin-top: 30px
	&_content
		margin-top: 30px
		&_box
			cursor pointer
			display: flex
			justify-content: space-between
			align-items: center
			border: 2px solid gray
			width: 200px
			padding: 10px
			margin-right: 10px
			&_active
				background-color:  semi-success
				border: 2px solid success




